
body {
	margin:0;
	padding:0;
	}
    
#map { 
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index: 1;
}

#sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: lightgrey;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;
}

#sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#openNav {
	position: fixed;
	top: 0%;
	right: 2%;
	z-index: 9;
	color: grey;
	font-size: 50px;
	cursor: pointer;
}

#sideNav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

#closeNav {
    position: absolute;
    cursor: pointer;
    color: darkgrey;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#closeNav:hover {
    color: black;
}

#searchForm {
	margin: 2% 6%;
}

.name {
	font-style: italic;
	font-size: 16px;
}

