
body {
	margin:0;
	padding:0;
    font-family: 'Open Sans', sans-serif;
	}

h4 {
    font-style: normal;
    font-weight: normal;
}


#pageTitle {
    text-align: left;
    margin: 0% 8% 8% 8%;
    font-family: 'Orbitron', sans-serif;
    font-size: 43px;
}

#map { 
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index: 1;
}

#sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: lightgrey;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;
}

#openNav {
	position: fixed;
	top: 0%;
	right: 2%;
	z-index: 9;
	color: grey;
	font-size: 50px;
	cursor: pointer;
}

#sideNav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

#closeNav {
    position: absolute;
    cursor: pointer;
    color: darkgrey;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#closeNav:hover {
    color: black;
}

#searchForm {
	margin: 0% 12%;
}

#loginForm {
    margin: 0% 12%;
}

#emailInput {
    width: initial;
}

#rememberMeGroup {
    margin-top: 3%;
}

#resultsList {
    margin: 2% 6%; 
}

.listItem:hover {
    background-color: #D6EAF8;
}

.sign-out {
    margin-left: 10px;
}

.left-bar {
    width: 30%;
    max-height: 80%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 11;
    overflow: auto;
    border-radius: 3%;
}

.articles {
    max-height: 100%;
    overflow: auto;
    background-color: white;

}

.article-heading {
    background-color: silver;
    color: white;
    font-weight: bold;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.article-content {
    padding: 20px 40px;
}

.favorites {
    background-color: white;
}

.fav-heading {
    background-color: silver;
    color: white;
    font-weight: bold;
    padding: 10px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid white;

}

.fav-minus, .fav-plus, .article-minus, .article-plus {
    float: right;
    position: relative;
    right: 2%;
}

.fav-content {
    padding: 20px 40px;
}

.fav-wreck {
    border: 1px solid lightgray;
    padding: 15px 10px;

}

.fav-label {
    font-weight: bold;
}

.remove {
    margin-left: 3px;
}

.favorite {
    margin: 4% 1%;
}

.satButton {
    margin: 4% 0%;
    width: 50%;
}

.form-inline .form-control {
    width: 60%;
}

#milesInput: {
    display: inherit;
}

#popupSearchButton {
    margin: 0% 8%;
}

/*.rangeInput {
    display: inline;
}*/

.range {
    width: 20%;
    margin-left: 1%;
}
#afterRangeSearch {
    margin-right: 3%;
    display: initial;
    width: 27%;
}

#beforeRangeSearch {
    display: initial;
    width: 27%;
}

.research {
    margin: 0% 1%;
}

.btn-success {
    background-color: #449d44 !important;
}

