
body {
	margin:0;
	padding:0;
  font-family: 'Open Sans', sans-serif;
}

ul {
	list-style: none;
}

li {
	margin: 0% 8% 0% 0%;
}

li:hover {
  background-color: rgba(200,200,200, .8);
}

h6 {
	line-height: 18px;
}

#map {
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index: 1;
}

#side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: rgba(240,240,240,.8);
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 60px;
}

#side-nav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

#research-nav {
  height: 90%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(240,240,240,.8);
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 60px;
}

#open-nav {
	position: fixed;
	top: 2%;
	right: 2%;
	z-index: 9;
	color: grey;
	font-size: 50px;
	cursor: pointer;
}

#close-nav {
    position: absolute;
    cursor: pointer;
    color: darkgrey;
    top: 2%;
    right: 6%;
    font-size: 50px;
    margin-left: 50px;
}

#close-nav:hover {
    color: black;
}

#open-nav:hover {
    color: black;
}

#open-research {
	position: fixed;
	top: 2%;
	left: 2%;
	z-index: 9;
	color: grey;
	font-size: 50px;
	cursor: pointer;
}

#close-research {
    position: absolute;
    cursor: pointer;
    color: darkgrey;
    top: 2%;
    left: 6%;
    font-size: 50px;
    margin-left: 50px;
}

#close-research:hover {
    color: black;
}

#open-research:hover {
    color: black;
}

#search-form {
	margin: 0% 8%;
}

#search-hits {
	font-size: 14pt;
	font-style: italic;
	margin: -5% 0% -3% 12%;
}

#results-container {
	margin: 0% 8% 0% 0%;
}


#results-list {
	list-style: none;
  margin: 2% 0%;
}

#show-favs {
	cursor: pointer;
	color: grey;
}

#show-favs:hover {
	color: black;
}

.info {
	margin: 0 8%;
	line-height: 125%;
}

.ship-name {
	display: inline;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 34px;
	line-height: 40px;
	margin: 2% 0;
}

.ship-position {
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 21px;
	line-height: 32px;
	margin: 2% 0;
}

.ship-description {
  line-height: 16px;
	margin-right: 3%;
}

.ship-id {
	margin: 3% 0% 2% 0%;
	font-size: 17px;
}

.favorite-button {
	cursor: pointer;
	margin-left: 5%;
	font-size: 32px;
	display: inline;
	position: relative;
	top: 3px;
}

.popup-position {
	margin: 0% 0%;
}

.mdl-textfield {
	margin: -3% 0% 0% 0%;
}

.mdl-textfield__label {
  color: rgba(0,0,0,0.5);
	pointer-events: auto;
}

.mdl-checkbox__label {
  font-size: 14px;
	color: rgba(0,0,0,0.5);
}

.checkbox-container {
	margin: 0% 0%;
}

.comment-text {
	line-height: 1%;
}

.button-container {
	text-align: center;
	margin: 0% -8%;
}

.search-buttons {
	margin: 1% 7%;
}

.list-item:hover {
  background-color: #D6EAF8;
}

.leaflet-popup-content-wrapper {
    border-radius: 0px;
}

.left-bar {
  width: 30%;
  max-height: 80%;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 11;
  overflow: auto;
}

.articles {
  max-height: 100%;
  overflow: auto;
  background-color: white;
}

.article-heading {
  background-color: silver;
  color: white;
  font-weight: bold;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.article-content {
  padding: 20px 40px;
}

.favorites {
  background-color: white;
}

.fav-heading {
  background-color: silver;
  color: white;
  font-weight: bold;
  padding: 10px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid white;
}

#article-min, #article-max {
  float: right;
  position: relative;
  right: 2%;
}

.fav-content {
    padding: 20px 40px;
}

.fav-wreck {
  border: 1px solid lightgray;
  padding: 15px 10px;
}

.fav-label {
  font-weight: bold;
}

.remove {
  margin-left: 3px;
}

.favorite {
    margin: 4% 1%;
}

.sat-button-container {
    margin: 4% 0%;
		text-align: center;
}

.form-inline .form-control {
    width: 60%;
}

.popup-search {
	text-align: left;
}

#milesInput {
	position: relative;
	width: 30%;
  display: inline-block;
}

#popupSearchButton {
	position: relative;
	display: inline-block;
	margin: 0 0 0 10%;
	bottom: 8px;
}

.range-input {
    display: flex;
}

.range {
    width: 20%;
    margin-left: 1%;
}
#afterRangeSearch {
    margin-right: 3%;
    display: initial;
    width: 27%;
}

#beforeRangeSearch {
    display: initial;
    width: 27%;
}

.research {
    margin: 0% 1%;
}

.research-buttons {
	text-align: center;
}
